﻿@using (Html.BeginForm("Pesquisa", "Produto", FormMethod.Get))
{
    <div class="form-group form-inline">
        <input class="form-control form" type="text" name="nome" id="nome" placeholder="Pesquisar por nome" />
        <input type="submit" value="Pesquisar" class="btn btn-sm btn-default" />
    </div>
}