﻿@{ 
    @model DesafioIdealeware.Models.Produto
}

@Html.AntiForgeryToken()

<div class="form-group">
    @Html.LabelFor(p => p.Nome, "Nome:")
    @Html.TextBoxFor(p => p.Nome, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Nome)
</div>

<div class="form-group">
    @Html.LabelFor(p => p.Preco, "Preço: R$")
    @Html.TextBoxFor(p => p.Preco, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Preco)
</div>

<div class="form-group">
    @Html.LabelFor(p => p.Estoque, "Quantidade em Estoque:")
    @Html.TextBoxFor(p => p.Estoque, new { @class = "form-control", @type = "number", @min = "0", @step = "1" })
    @Html.ValidationMessageFor(p => p.Estoque)

</div>

<div class="form-group">
    @Html.LabelFor(p => p.Descricao, "Descricao:")
    @Html.TextAreaFor(p => p.Descricao, new { @class = "form-control" })
    @Html.ValidationMessageFor(p => p.Descricao)
</div>