﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>    
    @Styles.Render("~/bundles/estilos")
</head>
<body>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Projeto Desafio</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["logado"] != null)
                    {
                        <li>@Html.ActionLink("Produtos Cadastrados", "Index", "Produto")</li>
                        <li>@Html.ActionLink("Cadastrar Novo Produto", "Cadastro", "Produto")</li>
                        <li>@Html.ActionLink("Sair", "Logout", "Usuario")</li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row main-area">
                @RenderBody()
        </div>
    </div>

@RenderSection("Scripts", false)
</body>
</html>
