﻿<ul class="list-group">
    @foreach (DesafioIdealeware.Models.Produto item in Model)
    {
        <li class="list-group-item" id="item_@item.Id">
            @Html.ActionLink(item.Nome, "Visualizar", new { id = item.Id })
            <span class="pull-right">
                <a href="#" class="" onclick="apagarProduto(@item.Id)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </span>
        </li>

    }
</ul>

<script type="text/javascript">

    function apagarProduto(produtoId) {

        // TODO: Implementar o Dialog do Bootstrap
        if (confirm("Deseja apagar este produto?")) {
            
            var url = "@Url.Action("Excluir", "Produto")";
            $.post(url, { id: produtoId }, removerLinha(produtoId))

        }
    }

    function removerLinha(id) {
        $("#item_" + id).remove();
    }

</script>