﻿@{
    @model DesafioIdealeware.Models.Usuario
}

@if (!string.IsNullOrEmpty(ViewBag.Sucesso))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.Sucesso
    </div>
}

<section class="area-usuarios">
    <section class="col-md-4 col-sm-12 area-login">
        @using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
        {
            <h2 class="form-signin-heading">Acessar a Área Administrativa</h2>

            <div class="form-group">
                <label for="inputEmail" class="sr-only">E-mail:</label>
                <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="E-mail" required autofocus />
            </div>

            <div class="form-group">
                <label for="inputPassword" class="sr-only">Senha:</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Senha" required>
            </div>

            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Entrar"t>
        }
            
    </section>

    <section class="col-md-6 col-sm-12 area-novo-usuario">
        @using (Html.BeginForm("Novo", "Usuario", FormMethod.Post))
        {
            <h2>Criar novo usuário</h2>
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(u => u.Nome, "Seu nome:")
                @Html.TextBoxFor(u => u.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.Nome)
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.Email, "Seu e-mail:")
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @type = "email" })
                @Html.ValidationMessageFor(u => u.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.Password, "Sua senha:")
                @Html.TextBoxFor(u => u.Password, new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(u => u.Password)
            </div>

            <input type="submit" class="btn btn-lg btn-success" value="Cadastrar" />
        }
            
    </section>
</section>

@section Scripts{
    @Scripts.Render("~/bundles/scripts")
}