﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="Desafio">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projeto Desafio</title>
    @Styles.Render("~/bundles/estilospublica")
</head>
<body>
    <div class="container main" ng-controller="produtoController"> 
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Projeto Desafio
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Admin">Área Administrativa</a></li>
                     </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <form class="form-inline">
                        <label for="buscar" class="control-label">Localizar produto:</label>
                        <input type="text" name="buscar" id="buscar" placeholder="Pesquisar..." class="form-control" ng-model="produtoSearchStr" />
                    </form>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12" ng-repeat="produto in produtos | filter:produtoSearchStr">
                <div class="panel panel-default">
                    <div class="panel-heading">{{produto.nome}}</div>
                    <div class="panel-body">
                        <p>{{produto.descricao}}</p>
                        <p><strong>Preço:</strong> {{produto.preco | number:2}}</p>
                        <p><strong>Quantidade em estoque:</strong> {{produto.estoque}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/scriptspublica")

</body>
</html>
