﻿@{ 
    @model DesafioIdealeware.Models.Produto
}

<h3 class="text-muted">Cadastrar Novo Produto</h3>

@using (Html.BeginForm("Novo", "Produto", FormMethod.Post))
{
    @Html.Partial("_FormProduto")

    <input type="submit" value="Cadastrar" class="btn btn-success btn-lg" />
}
    
<hr />
@Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })

@section Scripts{
    @Scripts.Render("~/bundles/scripts")
}