﻿@{ 
    @model IList<DesafioIdealeware.Models.Produto>
}

<div>
    <h3 class="text-muted">Todos Produtos Cadastrados</h3>

    @Html.Partial("_FormPesquisa")

    @Html.Partial("_ListaProdutos")

</div>

@section Scripts{
    @Scripts.Render("~/bundles/scripts")
}