﻿@{ 
    @model IList<DesafioIdealeware.Models.Produto>
}

<div>
    <h3 class="text-muted">@Model.Count resultados encontrados com o nome <em>@ViewBag.nome</em> </h3>

    @Html.Partial("_FormPesquisa")

    @Html.Partial("_ListaProdutos")

    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })

</div>

@section Scripts{
    @Scripts.Render("~/bundles/scripts")
}