﻿@{
    @model DesafioIdealeware.Models.Produto
}

<h3 class="text-muted">@Model.Nome</h3>

@if (!string.IsNullOrEmpty(ViewBag.Sucesso))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.Sucesso
    </div>
}




@using (Html.BeginForm("Editar", "Produto", FormMethod.Post))
{

    @Html.HiddenFor(model => model.Id)

    @Html.Partial("_FormProduto")


    <input type="submit" value="Editar" class="btn btn-info btn-lg" />
}

<hr />
@Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })

@section Scripts{
    @Scripts.Render("~/bundles/scripts")
}